data 

- https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page
- https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet

In [1]:
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-30 02:58:40--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.244.115.202, 18.244.115.107, 18.244.115.220, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.244.115.202|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11071980 (11M) [binary/octet-stream]
Saving to: ‘green_tripdata_2019-01.parquet’

green_tripdata_2019 100%[===================>]  10.56M  4.94MB/s    in 2.1s

2023-01-30 02:58:43 (4.94 MB/s) - ‘green_tripdata_2019-01.parquet’ saved [11071980/11071980]

--2023-01-30 02:58:43--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.200.184, 54.231.204.200, 54.231.162.0, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.200.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2023-01-30 02:58:44 (8.01 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [2]:
!pwd

/Users/afrogrit/zoomcamp/DE/module-1/hw_1

In [3]:
!ls

green_tripdata_2019-01.parquet taxi+_zone_lookup.csv
hw_1.ipynb

In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
df = pd.read_parquet('green_tripdata_2019-01.parquet')
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [7]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [17]:
df.shape

(672105, 20)

In [8]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [11]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_zones.shape

(265, 4)

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/hw_1_green_ny_taxi')
df.to_sql(name='hw_1_green_tripdata_201901', con=engine, if_exists='replace')
df_zones.to_sql(name='zones', con=engine, if_exists='replace', chunksize=100000, method='multi')

265